*.class

/node_modules

# SSH Keys

*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Gradle Temporary Files
target/

# Eclipse Files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

# IntelliJ Files
**/*.iml
**/.idea
**/.gradle

# Virtual Machine Crash Logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
